{% extends "rest/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
    <div class="wrapper">
      <div class="container">
    <div class="content-section bg-dark text-white" >
      <form method='POST'>
       {% csrf_token %}
       <fieldset class="form-group" id="what">
        <legend class="border-bottom mb-4 bg-dark text-white">Insert new Employee Details</legend>
       {{ form|crispy }}
     

       <div><button class="btn btn-primary"type=submit>Save</button></div>
     </fieldset>
      </form>
    </div>
  </div>
</div>
    
        
    
  


{%  endblock content%}