{% extends "rest/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
    {% csrf_token%}
  
      <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Employee-> {{object.name}}</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Age</th>
      <th >{{object.age}}</th>
     
    </tr>
<tr>
      <th scope="row">Salary</th>
      <th>{{object.salary}}</th>
     
    </tr>
    <tr>
      <th scope="row">Department</th>
      <th>{{object.d_no}}</th>
     
    </tr>
    <tr>
      <th scope="row">Contact </th>
      <th>{{object.contact_no}}</th>
     
    </tr>
    <tr>
      <th scope="row">Address</th>
      <th>{{object.address}}</th>
     
    </tr>

  </tbody>
</table>


    
  </article>
      
        
    
  


{%  endblock content%}