{% extends "rests/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
   <div class="content-section bg-light text-dark">
    <table class="table-stripped">
      <thead class=" thead-dark text-white">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
      </thead>
        {% for order in orderzz %}
        <tbody>
        <tr >
         <td> {{ order.item.name }}</td>
          <td>{{ order.qty }}</td>
          <td>{{ order.cost }}</td>
                            </tr>
                          </tbody>
                          </table>
          
          {% endfor %}
  


{%  endblock content%}