{% extends "rests/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="wrapper2">
    <form class="content-section bg-dark text-white" id="none"method='POST'>
      {% csrf_token %}
  <div class="form-group row border-bottom border-primary mb-4">
    <div class="col">
      <h4> Item</h4>
    </div>
    <div class="col">
      <h4> Quantity</h4>
    </div>
  </div>
     
        {% for menu in menus %}
       <div class="form-group row border-bottom mb-4">
    <div class="col">
      <label for="qty"><h6>Item: {{ menu.name }} </h6>
        <h6>Price : Rs
          {{ menu.price }}</h6></label>
    </div>
    <div class="col">
      <input name="{{menu.item_no}}" class="" id='qty' type="number" width="50" max="10" min="0" value="0">
    </div>
  </div>
        
            
        {% endfor %}
        

        
        <button class="btn btn-primary" type="submit">Generate Bill</button>
    

        
       
      </form>
    </div>
   
    
  


{%  endblock content%}