{% extends "rests/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
  
    <form method='POST'>
    	 {% csrf_token %}
    	<div class="wrapper">
      <div class="content-section bg-dark text-white" id="none">
      	<p class="text-danger">Delete Employee "{{ object.name }}"?</p>
      <div>
     <button class="btn btn-outline-danger btn-sm mb-1 mt-1 " type="submit">Delete</button>
<a class="btn btn-outline-secondary btn-sm mb-1 mt-1" href=" {% url 'E_detail' object.e_id %}">Cancel</a>
      </div>

      </div>
  </div>

{% endblock content%}